<?xml version="1.0"?>

<model>
  <name>Paparop</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Mhamed Kastalli</name>
    <email>mhamed.kastalli@iav.de</email>
  </author>

  <description>
    TurtleBot3 Waffle Pi with OpenMANIPULATOR X and ZED mini camera mounted
  </description>
</model>
